.items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    margin: 1vh;
    display: flex;
    position: relative;
    height: 20vh;
    width: 20vh;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0px 0px 10px 5px #1db954;
}

.item > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.item > p {
    margin: 0 10%;
    position: absolute;
    width: 80%;
    text-align: center;
    bottom: 2vh;
    color: white;
    font-size: 2vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.paginator {
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 90%;
}

.paginator > button {
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 10px;
    background-color: #292929;
    font-size: 2vh;
    color: white;
}

.paginator > button:hover {
    color: #1db954;
}

.paginator > button:disabled {
    opacity: 0;
}