.items {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    display: flex;
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0px 0px 10px 5px greenyellow;
}

.item > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.name {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.name > h1 {
    margin: 0 10px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.paginator {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
}

.paginator > button {
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 10px;
    background-color: #292929;
    font-size: 20px;
    color: white;
}

.paginator > button:hover {
    color: greenyellow;
}

.paginator > button:disabled {
    opacity: 0;
}