:root {
    --header-h: 6vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-h);
    margin-bottom: 1vh;
}

.nav_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    width: var(--header-h);
    height: var(--header-h);
}

.line {
    background-color: #1db954;
    height: 10%;
    width: 80%;
    margin: 5% 0;
}
  
.logo {
    margin-left: 1vw;
    height: calc(var(--header-h) - 20%);
}
  
a > img {
    height: 100%;
    width: 100%;
}

.menu {
    position: fixed;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: var(--header-h);
    left: 0;
    height: 50vh;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}
  
.menu > a {
    color: white;
    font-size: 5vh;
    margin: 1vh 0;
}