header {
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
}

.nav {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;
}

.nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav > a:hover {
    color: chartreuse;
}