.items {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.item {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0px 0px 10px 5px #1db954;
}

.cover > img {
    height: 200px;
    width: 200px;
    margin: 25px 25px 10px 25px;
    border-radius: 10px;
}

.name {
    margin: 0 25px;
}

.name > h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px 25px 25px;
}

.artists > p {
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.paginator {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
}

.paginator > button {
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 10px;
    background-color: #292929;
    font-size: 20px;
    color: white;
}

.paginator > button:hover {
    color: #1db954;
}

.paginator > button:disabled {
    opacity: 0;
}