.items {
    display: flex;
    flex-direction: column;
    width: 80%;
}
  
.item {
    background-color: #292929;
    display: flex;
    margin: 1vh 0;
    height: 8vh;
    width: 100%;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0px 0px 10px 5px #1db954;
}
  
.item > img {
    width: 8vh;
    height: 8vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 8vh);
    height: 100%;
}
  
.name > p {
    width: 80%;
    color: white;
    font-size: 2vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}