.items {    
    display: flex;
    flex-wrap: wrap;
}

.items {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    background-color: #292929;
    border-radius: 10px;
}

.item > h1 {
    color: white;
}