:root {
    --footer-h: 6vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--footer-h);
    flex: 0 0 auto;
    margin-top: 1vh;
}

footer > a {
    color: white;
}

footer > a:hover {
    color: #1db954;
}